---
import '@fontsource/ibm-plex-sans-arabic/300.css';
import '@fontsource/ibm-plex-sans-arabic/400.css';
import '@fontsource/ibm-plex-sans-arabic/500.css';
import '@fontsource/ibm-plex-sans-arabic/600.css';
import '@fontsource/ibm-plex-sans-arabic/700.css';

import globalStyles from "../../styles/global.css?raw";

const {title} = Astro.props;
---

<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{title}</title>
    <meta name="description" content="مهندس برمجيات بخبرة 8+ سنوات في تطوير التطبيقات الكاملة"/>
    <meta name="keywords"
          content="مهندس برمجيات, تطوير الويب, React, Node.js, MongoDB, PostgreSQL, Backend, Frontend, Full Stack, flutter, dart, python, javascript, js, typescript, wordpress, devops, security, Next.js, nextttttjs, astrojs, remixjs, flask api, api, rest api, nestjs, bunjs, elysiajs"/>
    <meta name="author" content="عبدالرحمن شاهين"/>
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow"/>
    <!-- OG -->
    <meta property="og:title" content={title}/>
    <meta property="og:description" content="مهندس برمجيات بخبرة 8+ سنوات في تطوير التطبيقات الكاملة"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://abdelrahman.co"/>
    <meta property="og:site_name" content="عبدالرحمن شاهين"/>
    <meta property="og:locale" content="ar_AR"/>
    <meta property="og:updated_time" content={new Date().toISOString()}/>

    <link rel="sitemap" href="/sitemap-index.xml"/>

    <style is:inline set:html={globalStyles}/>
</head>
<body>
<slot/>
</body>
</html>